/*
LESS Mixins 
 ==========================================================================
*/

/*
 Type Mixins
 ----------------------
*/

.font-italic {
  font-family: 'Lato Italic', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  src: url("../font/Lato-Italic.ttf");
}

.font-light {
  font-family: 'Lato Light', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  src: url("../font/Lato-Light.ttf");
}

.font-regular {
  font-family: 'Lato Regular', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  src: url("../font/Lato-Regular.ttf");
}

.font-bold {
  font-family: 'Lato Bold', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  src: url("../font/Lato-Bold.ttf");
}

.font-body {
  font-family: 'Merriweather Regular', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  src: url("../font/Merriweather-Regular.ttf");
}

.footer-font {
  font-family: 'Lato Bold', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
}

/* Drawer font mixins */

.drawer-header-font {
    &:extend(.font-bold);
    font-size: .85714286em;
    color: @mid_text;
    line-height: 40px;
    text-transform: uppercase;  
}

/* Regulation nav (drawer) font styles */

.regulation-nav-item-font {
    &:extend(.font-regular);
    font-size: 1em;
    line-height: 20px;
}

.regulation-nav-section-marker-font {
    &:extend(.font-bold);
    font-size: 1.1428571428571428em; /* 16px */
    line-height: 26px;
}

.regulation-nav-subpart-heading-font {
    &:extend(.font-bold);
    font-size: .8571428571428571em; /* 12px */
    line-height: 18px;
    color: @dark_gray;
}

.regulation-nav-interp-heading-font {
    &:extend(.font-regular);
    text-transform: uppercase;
    font-size: .85714286em;
}

.regulation-nav-interp-title-font {
    &:extend(.font-bold);
    font-size: 1em;
}

/* History (drawer) font styles */

.regulation-history-version-date-font {
    &:extend(.font-bold);
    font-size: 1.142853333em;
}

/* Key Terms */

.key-term-font {
  font-family: 'Lato Bold', Arial, sans-serif !important; 
}

.key-term-level-1-font {
    &:extend(.key-term-font);
    font-size: 1.4666666666666666em; 
    line-height: 31px;
}

.key-term-level-2-font {
    &:extend(.key-term-font);
    font-size: 1.0666666666666667em; 
    line-height: 26px;
}

.key-term-level-3-font {
    &:extend(.key-term-font);
    font-size: 1.0666666666666667em; 
    line-height: 26px;
}

/* Navigation links */

.next-prev-link-link-font {
    &:extend(.font-regular);
    font-size: 1em;
    line-height: 22px;
}

.next-prev-link-title-font { 
    &:extend(.font-regular);
    font-size: 1em;
    line-height: 20px;
}

.footer-font {
  font-family: 'Lato Bold', Arial, sans-serif;
  font-weight: 800;
  font-size:1em;
}

/*
Additional / overridden styles 
 ==========================================================================
*/

.poster-pdf {
  background-color: @bg_gray;
  margin-bottom: 1em;
  min-height: 5em;

  @media print {
    display: none;
  }

  .icon-container {
    display: inline-block;
    width: 5em;
    background-color: @light_orange;
    float: left;
    height: 100%;
    text-align: center;
    padding-top: 1em;
    padding-bottom: 1em;
    margin-right: 1em;
  }

  .copy {
    padding-top: 1em;
    padding-right: 1em;
  }
}

.poster {
  padding-left: 0;

  h1, h2, h3, h4, h5, h6 {
    font-size: large;
    text-align: center;
  }

  ol.level-4 { /* contains US Code */
    margin-top: 0;

    ol {
      margin-top: 0;
    }

    p {
      position: relative;
    }

    .collapsed {
      position: absolute;
    }

    .paragraph-marker {
      display: inline;
      position: absolute;
      left: -1.75em;
    }
    .stripped-marker {
      display: none;
    }
  }
}

.clipboard-link {
    &:before {
      content: "\e408";
      font-size: 16px;
      padding: 0 5px 0 0;
      font-family: "CFPB Minicons";
      font-style: normal;
      font-weight: 400;
      line-height: 1;
    }
    text-align: center;
    padding:5px;
    display:block;
    background-color: @bg_gray;
    border-bottom:2px solid #b8babd !important;
}

#rulings .ruling-id {
    .font-bold;
    display:block;
}
