[submodule "eregs_libs/regulations-site"]
	path = eregs_libs/regulations-site
	url = https://github.com/eregs/regulations-site.git
	branch = 8.4.1
[submodule "eregs_libs/regulations-core"]
	path = eregs_libs/regulations-core
	url = https://github.com/eregs/regulations-core.git
	branch = 4.2.0
