[submodule "eregs_libs/regulations-site"]
	path = eregs_libs/regulations-site
	url = https://github.com/eregs/regulations-site.git
	branch = 7.0.2
[submodule "eregs_libs/regulations-core"]
	path = eregs_libs/regulations-core
	url = https://github.com/eregs/regulations-core.git
	branch = 3.0.0
