.reg-header {
    color: $white;
    @include sans-font-bold;
}

.main-head {
    @include border-bottom-light($width: 3px);
    background: $atf_main_head_background;
}

.title {
    .e {
        font-family: 'Lato Bold', Arial, sans-serif !important;
        padding-left:0;
    }
}
@media only screen and ( min-width: 480px ) {
    .main-head {
        .reg-title:before {
            color: $atf_main_head_text_color;
        }
    }
}
.title a:link,
.title a:visited {
    color: $atf_main_head_text_color;
}
.title a:hover,
.title a:active {
    color: $atf_main_head_hover_color;
}
.sub-head {
    background-color: $atf_sub_head_background;
    color: $atf_sub_head_text_color;
    line-height: 34px;

    &.non-current {
      background-color: $alert_color;
      color: $atf_sub_head_background;
    }

    .return-to-current {
      color: $atf_sub_head_background;
    }
}
.app-nav {
    a:link,
    a:visited {
        color: $atf_main_head_text_color;
    }
    a:hover,
    a:active,
    a:focus {
        color: $atf_main_head_hover_color;
    }
}

@media only screen and ( min-width: 880px ) {
    .app-nav-list-item {
        img {
            vertical-align:middle;
        }
        img.logo {
            height: 40px;
            margin: 0 0 3px 0;
            display: inline;
        }
    }
}

@media only screen and ( max-width: 879px ) {
    .app-nav-list.open {
        background: $atf_mobile_nav_bg;
    }
    .app-nav-list-item {
        a:hover,
        a:active,
        a:focus {
            background: $atf_mobile_nav_hl;
        }
    }
    .mobile-nav-trigger:hover,
    .mobile-nav-trigger:active,
    .mobile-nav-trigger:focus,
    .mobile-nav-trigger.open {
        background-color: $atf_mobile_nav_bg;
    }
}
