/* Regulation nav (drawer) font styles */

.regulation-nav-item-font {
    @include sans-font-regular;
    font-size: 1em;
    line-height: 20px;
}

.regulation-nav-section-marker-font {
    @include sans-font-bold;
    font-size: 1.1428571428571428em; /* 16px */
    line-height: 26px;
}

.regulation-nav-subpart-heading-font {
    @include sans-font-bold;
    font-size: .8571428571428571em; /* 12px */
    line-height: 18px;
    color: $atf_dark_text;
}

.regulation-nav-interp-heading-font {
    @include sans-font-regular;
    text-transform: uppercase;
    font-size: .85714286em;
}

.regulation-nav-interp-title-font {
    @include sans-font-bold;
    font-size: 1em;
}
