/*
LESS Custom Mixins 
 ==========================================================================
custom-mixins.less contains additional mixins - and overrides to mixins.less mixins - 
to be used throughout the LESS files LESS Mixins
*/


/*
 Type Mixins
 ----------------------
*/

.font-italic {
    font-family: "Work Sans", Arial, sans-serif;
    font-weight: 600;
    font-style: italic;
}

.slabo {
  font-family: "Slabo 13px",Palatino Linotype,Georgia,Times New Roman,Times,serif;
}

.font-regular {
  font-family: "Work Sans",Arial,Helvetica,Verdana,Geneva,sans-serif;
  font-weight: 100;
}

.font-bold {
  font-family: "Work Sans",Arial,Helvetica,Verdana,Geneva,sans-serif;
  font-weight: 800;
}

.footer-font {
  font-family: "Work Sans",Arial,Helvetica,Verdana,Geneva,sans-serif;
  font-weight: 800;
  font-size:16px;
}
