/*
 Fonts
 ==========================================================================
 Place all @font-face rules in fonts.less
 */

@font-face {
  font-family: 'Lato Light';
  font-style: normal;
  font-weight: 400;
  src: url("../font/Lato-Light.ttf");
}

@font-face {
  font-family: 'Lato Regular';
  font-style: normal;
  font-weight: 400;
  src: url("../font/Lato-Regular.ttf");
}

@font-face {
  font-family: 'Lato Bold';
  font-style: normal;
  font-weight: 400;
  src: url("../font/Lato-Bold.ttf");
}

@font-face {
  font-family: 'Lato Italic';
  font-style: normal;
  font-weight: 400;
  src: url("../font/Lato-Italic.ttf");
}

@font-face {
  font-family: 'Merriweather Regular';
  font-style: normal;
  font-weight: 400;
  src: url("../font/Merriweather-Regular.ttf");
}

@font-face {
  font-family: 'Slabo 13px';
  font-style: normal;
  font-weight: 400;
  src: url("../font/Slabo13px-Regular.ttf");
}

@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 400;
  src: url("../font/WorkSans-Regular.ttf");
}