/*
 Fonts
 ==========================================================================
 Place all @font-face rules in fonts.less
 */

@font-face {
  font-family: 'Slabo 13px';
  font-style: normal;
  font-weight: 400;
  src: url("../font/Slabo13px-Regular.ttf");
}

@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 400;
  src: url("../font/WorkSans-Regular.ttf");
}