{% overextends "regulations/about.html" %}
{% load static from staticfiles %}
{% load macros %}

{% block about-intro %}
<section class="about-section group" id="about-intro">
<div class="inner-wrap group">
    <div class="content-primary column-l">
        <p>
          ATF uses the {% external_link url="https://eregs.github.io/" text="eRegulations platform" %} to make regulations <a href="#read" class="standard">easier to read</a> and <a href="#navigation" class="standard">navigate</a>.
        </p>

        <p>
          Regulation data is copied from the {% external_link url="https://www.federalregister.gov/" text="Office of the Federal Register website" %} and the {% external_link url="https://www.gpo.gov/fdsys/" text="GPO FDSYS system" %} and should not be considered authoritative, as those sources are not official legal editions of the Code of Federal Regulations.
        </p>

        <p>
          eRegulations clarifies regulations by bringing <a href="#related-info">related information</a> and <a href="#timeline" class="standard">regulatory history</a> to the forefront.
          It is a work in progress and a public domain work of the United States Government.
        </p>

        <p>
            Below are details on some eRegulations features and how to use them.
        </p>
    </div>

    <div class="content-secondary column-r well dev-well">
        <span class="cf-icon cf-icon-github"></span><span class="icon-text">Github</span>
        <h3>Developers</h3>
        <p>eRegulations is an open source project. Visit 
          {% external_link url="https://eregs.github.io/" text="the project repository" %}
          to learn more and contribute.</p>
    </div>
</div>
<div id="read" class="inner-wrap easy-read group">
    <h3>Easier to read</h3>

    <div class="content-secondary column-r bump">
        <p><strong>Clear typography</strong> makes regulations legible and easy to scan.</p>
        <p><strong>Responsive design</strong> adapts the tool to fit to your screen.</p>
        <img src="{%static "regulations/img/responsive.png" %}" class="s-bump about-screenshot responsive-img" alt="Responsive screens icons">
    </div>

    <div class="content-primary column-l">
        <img src="{%static "regulations/img/easy-01.png" %}" class="s-bump about-screenshot" alt="eRegulations application screenshot">
    </div>
</div>
</section>
{% endblock %}

{% block about-related-info %}
<section class="about-section group" id="related-info">
    <div class="inner-wrap">
    <h3>Related information</h3>

    <div class="content-primary column-r">
        <img src="{%static "regulations/img/related-01.png" %}" alt="eRegulations defined terms, linked references, and official interpretation screenshot">
        <img src="{%static "regulations/img/related-02.png" %}" class="bump" alt="eRegulations rulings screenshot">
    </div>

    <div class="content-secondary column-l">
        <ol class="about-ol">
            <li><strong>Defined terms</strong> are highlighted in the text and displayed in the right sidebar so you can keep your place.</li>
            <li>References to other parts of the regulation are <strong>linked</strong>.</li>
            <li>ATF Rulings that reference regulation sections or paragraphs
              are collected and linked to on the side of the regulation text.
              The <strong>Rulings</strong> bar will become gold when a section
              has related Rulings.</li>
        </ol>
    </div>

</div>
</section>
{% endblock %}

{% block about-timeline %}
<section class="about-section group" id="timeline">
    <div class="inner-wrap">
    <h3>Regulation timeline</h3>

    <div class="content-secondary column-l">
        <img src="{%static "regulations/img/regtimeline-01.png" %}" class="s-bump" alt="eRegulations timeline navigation screenshot">

        <img src="{%static "regulations/img/regtimeline-03.png" %}" class="s-bump about-stopcompare-img" alt="eRegulations timeline navigation screenshot">
    </div>

    <div class="content-primary column-r">
        <p class="about-timeline">The <strong>regulation timeline</strong> shows recent revisions of the regulation organized by latest effective date.</p>

        <ol class="about-ol bump">
            <li>The <strong>date picker</strong> allows users to find what revision was effective on a specific date.</li>
            <li><strong>Federal Register notice(s)</strong> associated with a revision are presented and organized by publication date. These links will
            take you to the notice on the Office of the Federal Register’s website.</li>
            <li><strong>Compare</strong> any two revisions of the regulation, word for word, by selecting a date in the menu and clicking “Show Differences”.</li>
        </ol>

        <img src="{%static "regulations/img/regtimeline-02.png" %}" alt="eRegulations revision comparison screenshot">

        <p class="about-stopcompare"><strong>To stop comparing</strong>, return to the regulation timeline tab — <span class="cf-icon cf-icon-history icon-red"> </span> — at the top left side of the screen. Click the “Stop Comparing” button under the second of the two revisions being compared.</p>
        
    </div>
</div>
</section>
{% endblock %}
