{% overextends "regulations/about.html" %}
{% load static from staticfiles %}

{% block about-related-info %}
<section class="about-section group" id="related-info">
    <div class="inner-wrap">
    <h3>Related information</h3>

    <div class="content-primary column-r">
        <img src="{%static "regulations/img/related-01.png" %}" alt="eRegulations defined terms, linked references, and official interpretation screenshot">
        <img src="{%static "regulations/img/related-02.png" %}" class="bump" alt="eRegulations rulings screenshot">
    </div>

    <div class="content-secondary column-l">
        <ol class="about-ol">
            <li><strong>Defined terms</strong> are highlighted in the text and displayed in the right sidebar so you can keep your place.</li>
            <li>References to other parts of the regulation are <strong>linked</strong>.</li>
            <li>ATF Rulings that reference regulation sections or paragraphs
              are collected and linked to on the side of the regulation text.
              The <strong>Rulings</strong> bar will become gold when a section
              has related Rulings.</li>
        </ol>
    </div>

</div>
</section>
{% endblock %}

{% block about-timeline %}
<section class="about-section group" id="timeline">
    <div class="inner-wrap">
    <h3>Regulation timeline</h3>

    <div class="content-secondary column-l">
        <img src="{%static "regulations/img/regtimeline-01.png" %}" class="s-bump" alt="eRegulations timeline navigation screenshot">

        <img src="{%static "regulations/img/regtimeline-03.png" %}" class="s-bump about-stopcompare-img" alt="eRegulations timeline navigation screenshot">
    </div>

    <div class="content-primary column-r">
        <p class="about-timeline">The <strong>regulation timeline</strong> shows recent revisions of the regulation organized by latest effective date.</p>

        <ol class="about-ol bump">
            <li>The <strong>date picker</strong> allows users to find what revision was effective on a specific date.</li>
            <li><strong>Federal Register notice(s)</strong> associated with a revision are presented and organized by publication date. These links will
            take you to the notice on the Office of the Federal Register’s website.</li>
            <li><strong>Compare</strong> any two revisions of the regulation, word for word, by selecting a date in the menu and clicking “Show Differences”.</li>
        </ol>

        <img src="{%static "regulations/img/regtimeline-02.png" %}" alt="eRegulations revision comparison screenshot">

        <p class="about-stopcompare"><strong>To stop comparing</strong>, return to the regulation timeline tab — <span class="about-timeline-red-icon"> —<span> at the top left side of the screen. Click the “Stop Comparing” button under the second of the two revisions being compared.</p>
        
    </div>
</div>
</section>
{% endblock %}
