{% overextends "regulations/generic_landing.html" %}
{% comment %}
Generally, we like all of the content in the generic_landing, but we _would_
like to provide a consistent disclaimer. Overextends tells django to use the
`regulations-site` provided template
{% endcomment %}

{% block legal_disclaimer %}
<h4 tabindex="0" class="important">Trust, but verify</h4>

<p><strong>Legal limitations of this tool:</strong> The ATF’s eRegulations tool is an editorial compilation of material and not an official legal edition of the <a href="https://www.archives.gov/federal-register/cfr/" class="external" target="_blank">Code of Federal Regulations</a> or the <a href="https://www.federalregister.gov/" class="external" target="_blank">Federal Register</a>. We have made every effort to ensure the material presented in this tool is accurate, but if you are relying on it for legal research you should <a href="http://www.ecfr.gov/cgi-bin/ECFR?page=userinfo" class="external" target="_blank">consult the official editions of those sources</a> to confirm your findings. Nothing in this tool binds ATF or creates any rights, benefits, or defenses, substantive or procedural, that are enforceable by any party in any manner.</p>
{% endblock %}

