{% extends "regulations/generic_landing.html" %}

{% block reg_title %}
<h2 class="banner-text">Commerce in Firearms and Ammunition</h2>
{% endblock %}

{% block reg_main_content %}
<h3 class="list-header">The Regulation covers topics such as:</h3>
<ul class="tag-list">
  <li>Definitions; including firearms and ammunition</li>
  <li>Licensing requirements</li>
  <li>Conduct of business or activity by licensees</li>
  <li>Records and reports required of licensees</li>
  <li>Relief from disabilities</li>
  <li>Exemptions</li>
</ul>
{% endblock %}

{% block reg_sidebar %}
<div class="content-wrap">
  <h3>Additional Resources</h3>
  <ul>
    <li><a href="http://www.gpo.gov/fdsys/pkg/USCODE-2011-title18/pdf/USCODE-2011-title18-partI-chap44.pdf"
           class="external" aria-label="Link opens in a new window" target="_blank">Gun Control Act (USC 18, Chapter
           44)</a></li>
    <li><a href="https://www.atf.gov/questions-and-answers/firearms-qas"
           class="external" aria-label="Link opens in a new window" target="_blank">Firearms Q&amp;A</a></li>
    <li><a href="https://www.atf.gov/firearms/firearms-forms"
           class="external" aria-label="Link opens in a new window" target="_blank">Firearms Forms</a></li>
    <li><a href="https://www.atf.gov/resource-center/publications-library?og_group_ref=1"
           class="external" aria-label="Link opens in a new window" target="_blank">Firearms Publications</a><li>
  </ul>
</div>
{% endblock %}



