{% extends "regulations/generic_landing.html" %}

{% block reg_title %}
<h2 class="banner-text">Commerce in Explosives</h2>
{% endblock %}

{% block reg_main_content %}
<h3 class="list-header">The Regulation covers topics such as:</h3>
<ul class="tag-list">
  <li>Definitions; including definition of explosive materials</li>
  <li>Licensing and permit requirements</li>
  <li>Conduct of business by licensees and operations by permittees</li>
  <li>Storage of explosive materials</li>
  <li>Records and reports required of licensees and permittees</li>
  <li>Relief from disabilities</li>
  <li>Exemptions, unlawful acts, penalties, seizures, and forfeitures</li>
</ul>
{% endblock %}

{% block reg_sidebar %}
<div class="content-wrap">
  <h3>Additional Resources</h3>
  <ul>
    <li><a href="https://www.atf.gov/questions-and-answers/explosives-qas"
           class="external" target="_blank">Explosives Q&amp;A</a></li>
    <li><a href="https://www.atf.gov/explosives/explosives-forms?og_group_ref_target_id=196"
           class="external" target="_blank">Explosives Forms</a></li>
    <li><a href="https://www.atf.gov/resource-center/publications-library?og_group_ref=2"
           class="external" target="_blank">Explosives Publications</a></li>
  </ul>
</div>
{% endblock %}


