{% extends "regulations/generic_landing.html" %}
{% load macros to_list %}

{% block reg_title %}
<div class="banner-image banner-478"></div>
<div class="banner-text-spacer">
  <div class="banner-text-wrapper">
    <h2 class="banner-text">Commerce in Firearms and Ammunition</h2>
  </div>
</div>
<p>This regulation explains requirements for manufacturing, importing, buying, selling, and transporting firearms and ammunition.</p>
{% endblock %}

{% block reg_main_content %}
<h3 class="list-header">Important topics include:</h3>

<ul class="tag-list">
  <li><a href="{% url 'chrome_section_view' label_id='478-11' version=current_version.version %}" class="citation internal" data-section-id="478-11">Definitions of terms used in this regulation</a></li>
  <li><a href="{% url 'chrome_section_view' label_id='478-32' version=current_version.version %}" class="citation internal" data-section-id="478-32">Prohibited shipment, transportation, possession, or receipt of firearms and ammunition by certain persons</a></li>
  <li><a href="{% url 'chrome_section_view' label_id='478-37' version=current_version.version %}" class="citation internal" data-section-id="478-37">Armor piercing ammunition manufacture, import, and sale</a> (<a href="{% url 'chrome_section_view' label_id='478-148' version=current_version.version %}" class="citation internal" data-section-id="478-148">exemptions</a>)</li>
  <li><a href="{% url 'chrome_section_view' label_id='478-41' version=current_version.version %}" class="citation internal" data-section-id="478-41">Licensing of manufacturers and importers, collectors, and dealers</a></li>
  <li><a href="{% url 'chrome_section_view' label_id='478-71' version=current_version.version %}" class="citation internal" data-section-id="478-71">Administrative actions (license denial, revocation, suspension, or fine)</a></li>
  <li><a href="{% url 'chrome_section_view' label_id='478-91' version=current_version.version %}" class="citation internal" data-section-id="478-91">Conduct of business or activity by licensees</a></li>
  <li><a href="{% url 'chrome_section_view' label_id='478-111' version=current_version.version %}" class="citation internal" data-section-id="478-111">Importation of firearms and ammunition</a></li>
  <li><a href="{% url 'chrome_section_view' label_id='478-121' version=current_version.version %}" class="citation internal" data-section-id="478-121">Records and reports required of licensees</a></li>
  <li><a href="{% url 'chrome_section_view' label_id='478-124' version=current_version.version %}" class="citation internal" data-section-id="478-124">Firearms transaction record</a></li>
  <li><a href="{% url 'chrome_section_view' label_id='478-125' version=current_version.version %}" class="citation internal" data-section-id="478-125">Acquisition and disposition record</a></li>
  <li><a href="{% url 'chrome_section_view' label_id='478-141' version=current_version.version %}" class="citation internal" data-section-id="478-141">Exempt interstate and foreign commerce</a></li>
  <li><a href="{% url 'chrome_section_view' label_id='478-142' version=current_version.version %}" class="citation internal" data-section-id="478-142">Relief from firearms prohibitions</a></li>
</ul>

{% with reg='478' version=current_version.version %}
  {% to_list 'Antique firearm' 'Armor piercing ammunition' 'Business premises' 'Collector' 'Curio or relic firearm' 'Dealer' 'Destructive device' 'Firearm frame or receiver' 'Handgun' 'Importer' 'Large capacity ammunition feeding device' 'Machine gun' 'Manufacturer' 'Pistol' 'Prohibited person' 'Revolver' 'Rifle' 'Unserviceable firearm' as terms %}
  {% include "atf_eregs/landing-search.html" %}
{% endwith %}
{% endblock %}

{% block reg_sidebar %}
<div class="content-wrap">
  <h3>Related law</h3>
  <ul>
    <li>{% external_link url="http://www.gpo.gov/fdsys/pkg/USCODE-2011-title18/pdf/USCODE-2011-title18-partI-chap44.pdf" text="Gun Control Act of 1968 (18 U.S.C. 921 et. seq.)" %}</li>
  </ul>
  
  <h3>Ask questions</h3>
  <ul>
    <li>{% external_link url="https://www.atf.gov/contact/licensing-and-other-services" text="Call ATF" %}</li>
    <li>{% external_link url="https://www.atf.gov/contact" text="Submit a Question or Concern" %}</li>
  </ul>
  
  <h3>Additional resources</h3>
  <ul>
    <li>{% external_link url="https://www.atf.gov/questions-and-answers/firearms-qas" text="Firearms Q&A" %}</li>
    <li>{% external_link url="https://www.atf.gov/firearms/firearms-forms" text="Firearms Forms" %}</li>
    <li>{% external_link url="https://www.atf.gov/resource-center/publications-library?og_group_ref=1" text="Firearms Publications" %}</li>
    <li>{% external_link url="https://www.atf.gov/rules-and-regulations/firearms-rulings" text="Firearms Rulings" %}</li>
    <li>{% external_link url="https://www.atf.gov/firearms/tools-services-firearms-industry" text="Tools & Services for Firearms Industry" %}</li>
    <li>{% external_link url="https://www.atf.gov/file/101806/download" text="Explanation of the firearms license denial/revocation hearing process" %}</li>
  </ul>
  
  <h3>Related tools</h3>
  <ul>
    <li>View this regulation on
      {% external_link url="http://www.ecfr.gov/cgi-bin/retrieveECFR?gp=&mc=true&r=PART&n=pt27.3.478" text="e-CFR (Electronic Code of Federal Regulations)" %}
    </li>
    <li>Related rules, proposed rules, and notices in the
      {% external_link url="https://www.federalregister.gov/articles/search?conditions%5Bagency_ids%5D%5B%5D=19&conditions%5Bterm%5D=%22Commerce+in+Firearms+and+Ammunition%22&order=newest&quiet=true" text="Federal Register" %}
    </li>
    <li>Related open and closed comment periods on
      {% external_link url="http://www.regulations.gov/#!searchResults;rpp=25;po=0;s=Commerce%252Bin%252BFirearms%252Band%252BAmmunition;fp=true;ns=true" text="Regulations.gov" %}
    </li>
  </ul>
</div>


{% endblock %}
