{% extends "regulations/generic_landing.html" %}

{% block reg_title %}
<h2 class="banner-text">Contraband Cigarettes</h2>
<p>Regulations in CFR 27 Part 646 relate to the distribution of contraband
cigarettes and contraband smokeless tobacco within the several States of the
United States, the District of Columbia, the Commonwealth of Puerto Rico, and
the Virgin Islands.</p>
{% endblock %}

{% block reg_main_content %}
<h3 class="list-header">The Regulation covers topics such as:</h3>
<ul class="tag-list">
  <li>Definition of "contraband cigarettes"</li>
  <li>Definition of "contraband smokeless tobacco"</li>
  <li>Reporting requirements</li>
</ul>
{% endblock %}

{% block reg_sidebar %}
<div class="content-wrap">
  <h3>Additional Resources</h3>
  <ul>
    <li><a href="https://www.atf.gov/questions-and-answers/alcohol-and-tobacco-qas"
           class="external" target="_blank">Alcohol &amp; Tobacco
           Q&amp;As</a></li>
    <li><a href="http://www.gpo.gov/fdsys/pkg/USCODE-2011-title18/pdf/USCODE-2011-title18-partI-chap114.pdf"
           class="external" target="_blank">Contraband Cigarettes Trafficking
           Act (CCTA)</a></li>
  </ul>
</div>
{% endblock %}

