{% extends "regulations/generic_landing.html" %}

{% block reg_title %}
<h2 class="banner-text">Contraband Cigarettes</h2>
<p>This regulation explains requirements related to distributing cigarettes in the several States of the United States, the District of Columbia, the Commonwealth of Puerto Rico, and the Virgin Islands.</p>

{% endblock %}

{% block reg_main_content %}
<h3 class="list-header">Important topics include:</h3>
<ul class="tag-list">
  <li><a href="{% url 'chrome_section_view' label_id='646-143' version=current_version.version %}" class="citation internal" data-section-id="646-143">Definitions of terms used in this regulation</a></li>
  <li><a href="{% url 'chrome_section_view' label_id='646-143' version=current_version.version %}#646-143-p2827969139" class="citation internal" data-section-id="646-143">Definition of "contraband cigarettes"</a></li>
  <li><a href="{% url 'chrome_section_view' label_id='646-146' version=current_version.version %}" class="citation internal" data-section-id="646-146">Recordkeeping requirements for cigarette distributors</a></li>
  <li><a href="{% url 'chrome_section_view' label_id='646-154' version=current_version.version %}" class="citation internal" data-section-id="646-154">Penalties and forfeitures for contraband cigarettes</a></li>
</ul>
{% endblock %}

{% block reg_sidebar %}
<div class="content-wrap">
  <h3>Related law</h3>
  <ul>
    <li><a href="http://www.gpo.gov/fdsys/pkg/USCODE-2011-title18/pdf/USCODE-2011-title18-partI-chap114.pdf"
           class="external" aria-label="Link opens in a new window" target="_blank">Contraband Cigarette Trafficking
           Act (18 U.S.C. 2341-2346)</a></li>
  </ul>
  <h3>Ask questions</h3>
  <ul>
  	<li><a href="https://www.atf.gov/contact" class="external" aria-label="Link opens in a new window" target="_blank">Call ATF</a></li>
    <li><a href="https://www.atf.gov/alcohol-tobacco" class="external" aria-label="Link opens in a new window" target="_blank">Submit an Alcohol and Tobacco Diversion Inquiry</a></li>
  </ul>
  <h3>Additional resources</h3>
  <ul>
    <li><a href="https://www.atf.gov/alcohol-tobacco"
           class="external" aria-label="Link opens in a new window" target="_blank">Alcohol and Tobacco Home</a></li>
    <li><a href="https://www.atf.gov/questions-and-answers/alcohol-and-tobacco-qas"
           class="external" aria-label="Link opens in a new window" target="_blank">Alcohol and Tobacco Q&amp;A</a></li>
    <li><a href="https://www.atf.gov/news/pr/tobacco-enforcement"
           class="external" aria-label="Link opens in a new window" target="_blank">Fact Sheet: Tobacco Enforcement</a></li>
  </ul>
  <h3>Related tools</h3>
  <ul>
    <li>View this regulation on <a href="http://www.ecfr.gov/cgi-bin/text-idx?SID=70394195a3edf623eba7ce77a1bddff1&amp;node=27:3.0.1.4.6&amp;rgn=div5" 
    class="external" aria-label="Link opens in a new window" target="_blank">e-CFR (Electronic Code of Federal Regulations)</a></li>
    <li>Related rules, proposed rules, and notices in the <a href="https://www.federalregister.gov/articles/search?conditions%5Bagency_ids%5D%5B%5D=19&amp;conditions%5Bterm%5D=Contraband+Cigarettes&amp;order=newest&amp;quiet=true" 
    class="external" aria-label="Link opens in a new window" target="_blank">Federal Register</a></li>
    <li>Related open and closed comment periods on <a href="http://www.regulations.gov/#!searchResults;rpp=25;so=DESC;sb=commentDueDate;po=0;s=Contraband%252BCigarettes;fp=true;dct=FR%252BPR%252BN%252BO;a=ATF" 
    class="external" aria-label="Link opens in a new window" target="_blank">Regulations.gov</a></li>
  </ul>
</div>
{% endblock %}

