{% extends "regulations/generic_landing.html" %}

{% block reg_title %}
<h2 class="banner-text">Machine Guns, Destructive Devices, and Certain Other
  Firearms</h2>
<p>The regulations in Part 479 interpret statutes relating to the National
Firearms Act (NFA).  </p>
{% endblock %}

{% block reg_main_content %}
<h3 class="list-header">The regulation covers topics such as:</h3>
<ul class="tag-list">
  <li>Definition of a NFA firearm</li>
  <li>Special Occupational Taxes</li>
  <li>Tax on Making NFA Firearms</li>
  <li>Transfer Tax</li>
  <li>Registration and Identification of NFA Firearms</li>
  <li>Importation and Exportation of NFA Firearms</li>
</ul>
{% endblock %}

{% block reg_addtl_content %}
{% endblock %}

{% block legal_disclaimer %}
<h4 tabindex="0" class="important">Trust, but verify</h4>

<p>The ATF’s eRegulations tool is an editorial compilation of material and not
an official legal edition of the Code of Federal Regulations or the Federal
Register. We have made every effort to ensure the material presented in this
tool is accurate, but if you are relying on it for legal research you should
consult the official editions of those sources to confirm your findings.
Nothing in this tool binds ATF or creates any rights, benefits, or defenses,
substantive or procedural, that are enforceable by any party in any
manner.</p>
{% endblock %}

{% block reg_sidebar %}
<div class="content-wrap">
  <h3>Additional Resources</h3>
  <ul>
    <li><a href="https://www.atf.gov/qa-category/national-firearms-act-nfa"
           class="external" target="_blank">Common NFA Q&amp;As</a></li>
    <li><a href="http://www.gpo.gov/fdsys/pkg/USCODE-2011-title26/pdf/USCODE-2011-title26-subtitleE-chap53.pdf"
           class="external" target="_blank">National Firearms Act (26 U.S.C.
           Chapter 53)</a></li>
    <li><a href="https://www.atf.gov/firearms/national-firearms-act-handbook"
           class="external" target="_blank">NFA Handbook</a></li>
    <li><a href="https://www.atf.gov/firearms/firearms-guide-identification-firearms-within-purview-national-firearms-act"
           class="external" target="_blank">Identification of NFA
           Firearms</a></li>
    <li><a href="https://www.atf.gov/resource-center/forms-library"
           class="external" target="_blank">NFA Forms</a></li>
  </ul>
</div>
{% endblock %}
