{% extends "regulations/generic_landing.html" %}

{% block reg_title %}
<h2 class="banner-text">Importation of Arms, Ammunition and Implements of War</h2>
<p>Part 447 regulations relate to that portion of section 38 of the Arms
Export Control Act of 1976, as amended, which is concerned with the
importation of arms, ammunition and implements of war.</p>
{% endblock %}

{% block reg_main_content %}
<h3 class="list-header">The Regulation covers topics such as:</h3>
<ul class="tag-list">
  <li>Definitions</li>
  <li>United States Munitions Import List</li>
  <li>Registration and permit requirements</li>
  <li>Restrictions and exemptions</li>
  <li>Penalties, seizures and forfeitures</li>
</ul>
{% endblock %}

{% block reg_sidebar %}
<div class="content-wrap">
  <h3>Additional Resources</h3>
  <ul>
    <li><a href="https://www.gpo.gov/fdsys/pkg/USCODE-2011-title22/pdf/USCODE-2011-title22-chap39-subchapIII-sec2778.pdf" class="external" aria-label="Link opens in a new window" target="_blank">Section 38 of the Arms Export Control Act (U.S.C. 22)</a></li>
    <li><a href="https://www.atf.gov/qa-category/imports-exports"
           class="external" aria-label="Link opens in a new window" target="_blank">Imports &amp; Exports Q&amp;A</a></li>
  </ul>
</div>
{% endblock %}



