{% extends "regulations/generic_landing.html" %}
{% load macros to_list %}

{% block reg_title %}
<div class="banner-image banner-479"></div>
<div class="banner-text-spacer">
  <div class="banner-text-wrapper">
    <h2 class="banner-text">Machine Guns, Destructive Devices, and Certain Other Firearms</h2>
  </div>
</div>
<p>This regulation explains requirements (including tax and registration) for manufacturing, making, dealing in, transferring, importing, and exporting firearms covered by the National Firearms Act ("NFA firearms").</p>
{% endblock %}

{% block reg_main_content %}
<h3 class="list-header">Important topics include:</h3>
<ul class="tag-list">
  <li><a href="{% url 'chrome_section_view' label_id='479-11' version=current_version.version %}#479-11-p1909909317" class="citation internal" data-section-id="479-11">Definition of NFA firearms</a></li>
  <li><a href="{% url 'chrome_section_view' label_id='479-11' version=current_version.version %}" class="citation internal" data-section-id="479-11">Definitions of terms used in this regulation</a></li>
  <li><a href="{% url 'chrome_section_view' label_id='479-32' version=current_version.version %}" class="citation internal" data-section-id="479-32">Special (occupational) tax rates</a> and <a href="{% url 'chrome_section_view' label_id='479-34' version=current_version.version %}" class="citation internal" data-section-id="479-34">registration</a></li>
  <li><a href="{% url 'chrome_section_view' label_id='479-61' version=current_version.version %}" class="citation internal" data-section-id="479-61">Tax on making a NFA firearm</a> (and <a href="{% url 'chrome_section_view' label_id='479-62' version=current_version.version %}" class="citation internal" data-section-id="479-62">application to make a NFA firearm</a>)</li>
  <li><a href="{% url 'chrome_section_view' label_id='479-82' version=current_version.version %}" class="citation internal" data-section-id="479-82">Tax on transferring a NFA firearm</a> (and <a href="{% url 'chrome_section_view' label_id='479-84' version=current_version.version %}" class="citation internal" data-section-id="479-84">application to transfer a NFA firearm</a>)</li>
  <li><a href="{% url 'chrome_section_view' label_id='479-101' version=current_version.version %}" class="citation internal" data-section-id="479-101">Registration and identification of NFA firearms</a></li>
  <li><a href="{% url 'chrome_section_view' label_id='479-111' version=current_version.version %}" class="citation internal" data-section-id="479-111">Importation</a> and <a href="{% url 'chrome_section_view' label_id='479-114' version=current_version.version %}" class="citation internal" data-section-id="479-114">exportation</a> of NFA firearms</li>
  <li><a href="{% url 'chrome_section_view' label_id='479-181' version=current_version.version %}" class="citation internal" data-section-id="479-181">Penalties and forfeitures</a></li>
</ul>

{% with reg='479' version=current_version.version %}
  {% to_list "Any other weapon" "Collector" "Dealer" "Destructive device" "Firearm" "Importer" "Machine gun" "Silencer" "Transfer" as terms %}
  {% include "atf_eregs/landing-search.html" %}
{% endwith %}
{% endblock %}

{% block reg_sidebar %}
<div class="content-wrap">
  <h3>Related law</h3>
  <ul>
    <li>{% external_link url="http://www.gpo.gov/fdsys/pkg/USCODE-2011-title26/pdf/USCODE-2011-title26-subtitleE-chap53.pdf" text="National Firearms Act (26 U.S.C.  Chapter 53)" %}</li>
  </ul>
  
  <h3>Ask questions</h3>
  <ul>
    <li>{% external_link url="https://www.atf.gov/contact/licensing-and-other-services" text="Call the NFA Branch" %}</li>
    <li>{% external_link url="https://www.atf.gov/contact" text="Submit a NFA Question" %}</li>
  </ul>
  
  <h3>Additional resources</h3>
  <ul>
    <li>{% external_link url="https://www.atf.gov/rules-and-regulations/national-firearms-act" text="Introduction to the NFA" %}</li>
    <li>{% external_link url="https://www.atf.gov/qa-category/national-firearms-act-nfa" text="NFA Q&A" %}</li>
    <li>{% external_link url="https://www.atf.gov/firearms/national-firearms-act-handbook" text="NFA Handbook" %}</li>
    <li>{% external_link url="https://www.atf.gov/firearms/firearms-guide-identification-firearms-within-purview-national-firearms-act" text="Identification of NFA Firearms" %}</li>
    <li>{% external_link url="https://www.atf.gov/resource-center/forms-library" text="NFA Forms" %}</li>
  </ul>
  
  <h3>Related tools</h3>
  <ul>
    <li>View this regulation on
      {% external_link url="http://www.ecfr.gov/cgi-bin/text-idx?mc=true&node=pt27.3.479" text="e-CFR (Electronic Code of Federal Regulations)" %}
    </li>
    <li>Related rules, proposed rules, and notices in the
      {% external_link url="https://www.federalregister.gov/articles/search?conditions%5Bagency_ids%5D%5B%5D=19&conditions%5Bterm%5D=%22Machine+Guns%2C+Destructive+Devices%2C+and+Certain+Other+Firearms%22&order=newest&quiet=true" text="Federal Register" %}
    </li>
    <li>Related open and closed comment periods on
      {% external_link url="http://www.regulations.gov/#!searchResults;rpp=25;so=DESC;sb=commentDueDate;po=0;s=Machine%252BGuns%252C%252BDestructive%252BDevices%252C%252Band%252BCertain%252BOther%252BFirearms;fp=true;dct=FR%252BPR%252BN%252BO;a=ATF" text="Regulations.gov" %}
    </li>
  </ul>
  
</div>
{% endblock %}
