{% extends "regulations/generic_landing.html" %}

{% block reg_title %}
<h2 class="banner-text">Importation of Arms, Ammunition and Implements of War</h2>
<p>This regulation explains restrictions on importing munitions into the U.S., as a matter that affects world peace and the security and foreign policy of the U.S.</p>
{% endblock %}

{% block reg_main_content %}
<h3 class="list-header">Important topics include:</h3>
<ul class="tag-list">
  <li><a href="/447-21/2015-12992#447-21" class="citation internal">The United States Munitions Import List</a> (items that are subject to controls)</li>
  <li><a href="/447-31/2015-12992#447-31" class="citation internal">Registration</a> and <a href="/447-41/2015-12992#447-41" class="citation internal">permit</a> requirements for importing them</li>
  <li><a href="/447-52/2015-12992#447-52" class="citation internal">Import restrictions that apply to specific countries</a></li>
  <li><a href="/447-53/2015-12992#447-53-a" class="citation internal">Exemptions to import requirements</a></li>
  <li>Penalties for <a href="/447-61/2015-12992#447-61" class="citation internal">unlawful importation</a> and <a href="/447-62/2015-12992#447-62" class="citation internal">false statements or concealment of facts</a>; <a href="/447-63/2015-12992#447-63" class="citation internal">seizures and forfeitures</a></li>
</ul>
{% endblock %}

{% block reg_sidebar %}
<div class="content-wrap">
  <h3>Related law</h3>
  <ul>
    <li><a href="https://www.gpo.gov/fdsys/pkg/USCODE-2011-title22/pdf/USCODE-2011-title22-chap39-subchapIII-sec2778.pdf" class="external" target="_blank">Section 38 of the Arms Export Control Act (U.S.C. 22)</a></li>
  </ul>
  
  <h3>Ask questions</h3>
  <ul>
    <li><a href="https://www.atf.gov/contact/licensing-and-other-services" class="external" target="_blank">Call the Firearms &amp; Explosives Imports Branch</a></li>
    <li><a href="https://www.atf.gov/contact" class="external" target="_blank">Submit a Firearms and Explosives Import Question or Concern</a></li>
  </ul>
  
  <h3>Additional resources</h3>
  <ul>
    <li><a href="https://www.atf.gov/qa-category/imports-exports" class="external" target="_blank">Imports &amp; Exports Q&amp;A</a></li>
    <li><a href="https://www.atf.gov/firearms/import-firearms-ammunition-and-implements-war" class="external" target="_blank">Permit application form</a></li>
  </ul>

  <h3>Related tools</h3>
  <ul>
    <li><a href="http://www.ecfr.gov/cgi-bin/text-idx?SID=70394195a3edf623eba7ce77a1bddff1&amp;node=27:3.0.1.2.2&amp;rgn=div5" class="external" target="_blank">View this regulation on e-CFR (Electronic Code of Federal Regulations)</a></li>
    <li><a href="https://www.federalregister.gov/articles/search?conditions%5Bagency_ids%5D=19&amp;conditions%5Bterm%5D=Importation+of+Arms%2C+Ammunition+and+Implements+of+War&amp;order=newest&amp;quiet=true" class="external" target="_blank">Related rules, proposed rules, and notices in the Federal Register</a></li>
    <li><a href="http://www.regulations.gov/#!searchResults;rpp=25;so=DESC;sb=commentDueDate;po=0;s=Importation%252Bof%252BArms%252C%252BAmmunition%252Band%252BImplements%252Bof%252BWar;dct=FR%252BPR%252BN%252BO;cat=LES" class="external" target="_blank">Related open and closed comment periods on Regulations.gov</a></li>
  </ul>
</div>
{% endblock %}



